<!DOCTYPE html>
<html>
<title>To Do List</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="stylesheets/util.css">
<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
<link rel="shortcut icon" href="/images/Ziv-logo.png" type="image/x-icon">
<style>
.big{
  font-size: large;
}
input {
  border: none;
  display: inline;
  font-family: inherit;
  font-size: inherit;
  padding: none;
  width: auto;
  background: transparent;
  color: rgb(204, 188, 42);
}
</style>
<body>

  <div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100" id="tableParent">
				</div>
			</div>
		</div>
	</div>
  <script>
    function Transformerr(Rows){
        var rows = Rows;
        var html = '<table>';
        html += '<thead><tr class="table100-head">';

        for( var j in rows[0] ) {
        html += '<th>' + j + '</th>';
        }
        html += '</tr></thead><tbody>';

        for( var i = 0; i < rows.length; i++) {
          html += '<tr>';
          for( var j in rows[i] ) {
            if(rows[i][j].kynde == 'number'){
              html += '<td><input type="number" value="' + rows[i][j].value + '" min="1" max="99"></td>';
            } else if (rows[i][j].kynde == 'text'){
              html += '<td>' + rows[i][j].value + '</td>';
            }
          }
          html += '</tr>';
        }

        html += '</tbody></table>';
        document.getElementById('tableParent').innerHTML = html;
    }

    var row = [{ Name: { kynde: 'text', value: 'Eggs', done: false }, folder: { kynde: 'number', value: '3', done: false }, MANY: { kynde: 'number', value: '5', done: true } }]
    console.log(row)
    Transformerr(row)
  </script>
</body>
</html>
